/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body * {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/

.language-bar-wrapper {
  background: white;
  height: auto;
}

.language-bar {
  display: flex;
  align-items: center;
  justify-content: right;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.language {
  margin-right: 1rem;
  display: flex;
  font-size: 0.7rem;
  padding: .925rem 0em;
}


.nav-wrapper {
  display: flex;
  margin: auto;
  background: #00286e;
  height: 82px;

}

nav {
  margin-right: auto;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #ffffff;
  width: 100%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.logo {
  justify-self: flex-start;
  display: flex;
  width: 220px;
  height: 27.6167px;
}

.nav-list {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px 0px 11px;
  height: 100%;
}


.nav-button-text{
  
  font-weight: bold;
  font-weight: 900;
  font-size: 17px;
  text-transform: uppercase;
}

.has-dropdown:hover {
  background: white;
}

.has-dropdown:hover *{
  color:#2895d5;
}



/* .has-dropdown:hover .arrow{
  border: solid #2895d5;
  border-width: 0 3.5px 3.5px 0;
  transition: scale;
  transform: translate(0px, 4px) scale(1,-1) rotate(45deg);
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.has-dropdown:not(:hover) .arrow {
  transition: scale;
  transform: translate(0px, -0px) scale(-1,1) rotate(45deg);
  transition-timing-function: ease-in;
  transition: 0.3s;
} */


ul li span {
  padding-right: 2px;
}

.get-involved-button {
  padding-right: 8px;
  padding-left: 15px;
}

.donate-button {
  padding: 14px 16.8px;
  justify-self: center;
  border-radius: 25px;
  border:  solid #00286e;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background: #2895d5;
}

.search-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.search-button {
  padding: 0 1px;
}

.news-and-main-container {
  position: absolute;
  top: 122px;
}

.news-banner {
  padding: 40px 0;
  display: flex;
  background: #2895d5;
  color: white;
}

.news-container {
  max-width: 75rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.news-article-container {
  width: 58.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.news-button {
  height: 3rem;
  justify-self: center;
  border-radius: 2rem;
  border:  solid #00286e;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background: #00286e;
}

h1 {
  width: 35rem;
  font-size: 1.85rem;
  line-height: 2.25rem;
  font-weight: 900;
}

.h1-container {
  height: fit-content;
}

.news-article-container p {
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1.22rem;
}

.button-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: auto;
  justify-content: right;
  width: 33.333333%;
  padding: 0 20px;
}

.news-button {
padding: 14px 24px;
height: auto;
font-weight: 900;
text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/******************************************
/* DROPDOWNS
/*******************************************/
.drop-down-menu * {
  display: flex;
}


.dropdown-menu {
  position: fixed;
  top: 123px;
  left: 0px;
  display: flex;
 min-width: 100vw;
 background: white;
 min-height: 20rem;

 transform: scaleY(0);    
 transform-origin: top;
 /* transition: transform 0.2s ease-out; */
 transition: transform 0s ease-in;

 /* opacity: 1; */

/* 
 opacity: 0;
 transform: translateY(0px);
transition: opacity 300ms ease-in-out, transform 300ms ease-in-out; */

 /* border: 1px solid black; */
}

/* .has-dropdown .learn-desktop-dropdown:not(:hover) {
  opacity: 0;
} */

.no-opacity {
  opacity: 0;
}

.has-dropdown:hover .dropdown-menu{
  /* opacity: 1;
  transform: translateY(123px);
  pointer-events: auto; */
  transform: scaleY(1);
}

.has-dropdown:hover .dropdown-menu{

  transition: transform 0.2s ease-out;
}

.has-dropdown .dropdown-menu li span{
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  
  }
.has-dropdown:hover .dropdown-menu li span{
  opacity: 1;
}



.full-width-dropdown-wrapper{
  margin: 30px auto;
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.dropdown-ul {
  display: block;
  flex-direction: column;
  columns: 2;
  font-size: 17.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropdown-ul *{
  display: block;
  font-weight: 400;
  line-height: 1.25;
}

.dropdown-ul a {
  margin-bottom: 23px;
}

.dropdown-container {
  width: 50%;
  padding: 0 18px;
}

.dropdown-container *{
  color: #2895d5;
}

.get-care-span {
  min-width: 100%;
  color: black;
}

/******************************************
/* ANIMATIONS
/*******************************************/



.scroll-bar {
  z-index: 1000;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  position: fixed;
  width: 100%;
}

.nav-hidden {
  transform: translateY(-8.25rem);
  box-shadow: none;
}

.arrow {
  
  /* font-size: 13px; */
  /* border: solid 1px white; */

  /* font-size: 1px; */
  /* color: white; */

  /* height: 10px; */
  /* width: 1px; */
  /* border-width: 0 3.5px 3.5px 0; */
  /* display: inline-block; */
  /* padding: 0.25em;
  margin-left: 0.5em; */
  position: relative;
  /* top: 50%; */
  top: 3px;
}



/******************************************
/* HIDDEN CLASS
/*******************************************/

.hidden {
  display: none;
}



/* test start */


/* .active {
  transition: 1s ease-in-out;
  transform: translateY(100px);
} */

/* .arrow-container {
width: 100%;
display: flex;
} */

.arrow-container a{
  /* display: block; */
}

.arrow::before, .arrow::after {
  
  content: '';
  background-color: transparent;
  color: black;
  border-bottom: 12px solid white;
  transition: transform 0.4s ease-in-out;
  /* transition: transform 0s ease-in; */
  display: inline-block;
  height: 14px;
  /* width: 12px; */
  width: 4px;
  /* position: absolute;
  left: 0;
  top: 0; */
}

.arrow::before {
  transform: rotate(-135deg);
}

.arrow::after {
  transform: rotate(135deg);
}

.has-dropdown:hover .arrow{
  transform: rotate(0deg);
}

.has-dropdown:hover .arrow:before {
  transform: rotate(-45deg);
  border-color: #2895d5;
}

.has-dropdown:hover .arrow:after {
  transform: rotate(45deg);
  border-color: #2895d5;
}



/* test end */